auto_mix_prep==0.2.0
copulas==0.7.0
deepxde==1.9.2
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
pytorch_tabnet==4.1.0
scikit_learn==1.3.0
scipy==1.7.3
sdmetrics==0.7.0
sdv==0.17.1
seaborn==0.11.2
smt==2.0
torch==1.11.0
xgboost==1.7.6
